<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6>Add new Servers or blueprint</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="name">Server Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newServerName" name="name">
        </div>
        <div class="form-group">
          <label for="content">Server content</label>
          <input type="text" class="form-control" id="content" [(ngModel)]="newServerContent" name="content">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary ml-1" (click)="onAddBlueprint()">Add blueprint</button>
  </div>
</div>